@tailwind base;
@tailwind components;
@tailwind utilities;



a.button {
  font-weight: 700;
  position: relative;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  border: 1px solid #000;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d3ebb7), color-stop(40%, #85c03f), to(#366c1b));
  background: -webkit-linear-gradient(top, #d3ebb7, #85c03f 40%, #366c1b);
  background: linear-gradient(180deg, #d3ebb7, #85c03f 40%, #366c1b);
  font-size: 22px;
  line-height: 1.2em;
  -webkit-box-shadow: 0 0 0 1px #000, 0 0 0 2px #000, 0 4px 0 2px rgba(0, 0, 0, .2);
  box-shadow: 0 0 0 1px #000, 0 0 0 2px #000, 0 4px 0 2px rgba(0, 0, 0, .2);
  text-shadow: 0 -2px #000, 0 0 #000, 0 2px #000, 0 4px #000, -1px -1px #000, 1px -1px #000, 1px 0 #000, -1px 0 #000, 1px 1px #000, -1px 1px #000, 1px 2px #000, -1px 2px #000;
}

.styles_button__DNJ4N {
  text-decoration: none;
  background-color: #3b78dc;
  display: block;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  line-height: 1em;
  padding: 25px 20px;
  text-align: center;
  font-size: 15px;
  color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transition: -webkit-transform .1s linear;
  transition: -webkit-transform .1s linear;
  transition: transform .1s linear;
  transition: transform .1s linear, -webkit-transform .1s linear;
}

a.button:after,
a.button:before {
  position: absolute;
  content: "";
  z-index: 0;
}

a.button:before {
  inset: 2px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7fc427), to(#58a221));
  background: -webkit-linear-gradient(top, #7fc427, #58a221);
  background: linear-gradient(180deg, #7fc427, #58a221);
  -webkit-box-shadow: inset 0 0 0.2143rem 0.0357rem hsla(0, 0%, 100%, .23);
  box-shadow: inset 0 0 0.2143rem 0.0357rem hsla(0, 0%, 100%, .23);
}

a.button span {
  position: relative;
  padding: 0 5px;
  z-index: 1;
}

a.button:after {
  top: 0.375rem;
  right: 0.375rem;
  left: 0.375rem;
  height: 50%;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d0e878), to(rgba(152, 208, 64, .73)));
  background: -webkit-linear-gradient(top, #d0e878, rgba(152, 208, 64, .73));
  background: linear-gradient(180deg, #d0e878, rgba(152, 208, 64, .73));
}

a.button:after,
a.button:before {
  position: absolute;
  content: "";
  z-index: 0;
}

.styles_button__DNJ4N:active {
  -webkit-transform: scale(.95);
  transform: scale(.95);
}

.styles_button__DNJ4N:focus {
  -webkit-transform: scale(.95);
  transform: scale(.95);
}