@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(../assets/css/stylesheet.css);



body {
  font-family: coc-font !important;
}

body::-webkit-scrollbar {
  width: .6em;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #7fc427, #58a221);
  /* border-radius: 5px; */
  /* outline: 1px solid #708090; */
}

body::-webkit-scrollbar-track {
  background: linear-gradient(to right bottom, #d1d9e6, #e2e8ec);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, .3);
}


.coc-btn {
  text-decoration: none;
  background-color: #3b78dc;
  display: block;
  border-radius: 6px;
  line-height: 1em;
  padding: 18px 4px;
  text-align: center;
  font-size: 15px;
  color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: transform 0.1s linear;
}

.coc-btn:active {
  -webkit-transform: scale(.95);
  transform: scale(.95)
}



a.button {
  font-weight: 700;
  font-family: coc-font;
  position: relative;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  border: 1px solid #000;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d3ebb7), color-stop(40%, #85c03f), to(#366c1b));
  background: -webkit-linear-gradient(top, #d3ebb7, #85c03f 40%, #366c1b);
  background: linear-gradient(180deg, #d3ebb7, #85c03f 40%, #366c1b);
  font-size: 22px;
  line-height: 1.2em;
  -webkit-box-shadow: 0 0 0 1px #000,
    0 0 0 2px #000,
    0 4px 0 2px rgba(0, 0, 0, .2);
  box-shadow: 0 0 0 1px #000,
    0 0 0 2px #000,
    0 4px 0 2px rgba(0, 0, 0, .2);
  text-shadow: 0 -2px #000,
    0 0 #000,
    0 2px #000,
    0 4px #000,
    -1px -1px #000,
    1px -1px #000,
    1px 0 #000,
    -1px 0 #000,
    1px 1px #000,
    -1px 1px #000,
    1px 2px #000,
    -1px 2px #000
}

a.button span {
  position: relative;
  padding: 0 5px;
  z-index: 1
}

a.button:before {
  inset: 2px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7fc427), to(#58a221));
  background: -webkit-linear-gradient(top, #7fc427, #58a221);
  background: linear-gradient(180deg, #7fc427, #58a221);
  -webkit-box-shadow: inset 0 0 .2143rem .0357rem hsla(0, 0%, 100%, .23);
  box-shadow: inset 0 0 .2143rem .0357rem hsla(0, 0%, 100%, .23)
}

a.button:after,
a.button:before {
  position: absolute;
  content: "";
  z-index: 0
}

a.button:after {
  top: .375rem;
  right: .375rem;
  left: .375rem;
  height: 50%;
  -webkit-border-radius: .5rem;
  border-radius: .5rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d0e878), to(rgba(152, 208, 64, .73)));
  background: -webkit-linear-gradient(top, #d0e878, rgba(152, 208, 64, .73));
  background: linear-gradient(180deg, #d0e878, rgba(152, 208, 64, .73))
}


@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}



section {
  padding-block: min(20vh, 2rem);
  width: calc(min(76.5rem, 90%));
  margin-inline: auto;
  color: #111;
}

section h2 {
  text-transform: capitalize;
  letter-spacing: 0.025em;
  font-size: clamp(2rem, 1.8125rem + 0.75vw, 2.6rem);
}

section a {
  display: inline-block;
  text-decoration: none;
}

/* {
  margin-top: 5em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
} */

/* .card:nth-child(1) .box .icon .iconBox {
  background: #d3b19a;
}

.card:nth-child(2) .box .icon .iconBox {
  background: #70b3b1;
}

.card:nth-child(3) .box .icon .iconBox {
  background: #d05fa2;
}

.card:nth-child(4) .box .icon .iconBox {
  background: #5fd076;
} */

.card ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.625rem;
}

.card ul li {
  text-transform: uppercase;
  background: var(--clr-tag);
  color: #282828;
  font-weight: 700;
  font-size: 0.8rem;
  padding: 0.375rem 0.625rem;
  border-radius: 0.188rem;
}

.card ul .branding {
  color: #704a31;
}

.card ul .packaging {
  color: #1e3938;
}

.card ul .marketing {
  color: #4d1637;
}

.card .content {
  padding: 0.938rem 0.625rem;
}

.card .content h3 {
  text-transform: capitalize;
  font-size: clamp(1.5rem, 1.3909rem + 0.4364vw, 1.8rem);
}

.card .content p {
  margin: 0.625rem 0 1.25rem;
  color: #565656;
}

.card-inner {
  position: relative;
  width: inherit;
  height: 18.75rem;
  background: var(--clr);
  border-radius: 1.25rem;
  border-bottom-right-radius: 0;
  overflow: hidden;
}

.card-inner .box {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 1.25rem;
  overflow: hidden;
}

.card-inner .box .imgBox {
  position: absolute;
  inset: 0;
}

.card-inner .box .imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-inner .box .icon {
  position: absolute;
  bottom: -0.375rem;
  right: -0.375rem;
  width: 6rem;
  height: 6rem;
  background: white;
  border-top-left-radius: 50%;
}

.card-inner .box .icon:hover .iconBox {
  transform: scale(1.1);
}

.card-inner .box .icon::before {
  position: absolute;
  content: "";
  bottom: 0.375rem;
  left: -1.25rem;
  background: transparent;
  width: 1.25rem;
  height: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  box-shadow: 0.313rem 0.313rem 0 0.313rem #fff;
}

.card-inner .box .icon::after {
  position: absolute;
  content: "";
  top: -1.25rem;
  right: 0.375rem;
  background: transparent;
  width: 1.25rem;
  height: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  box-shadow: 0.313rem 0.313rem 0 0.313rem white;
}

.card-inner .box .icon .iconBox {
  position: absolute;
  inset: 0.625rem;
  background: #73a129;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.card-inner .box .icon .iconBox .ico {
  transform: rotate(-45deg);
  fill: white;
}

.card-inner .box .icon .iconBox span {
  color: #fff;
  font-size: 1.5rem;
}

#progress {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: -6px;
  width: 1%;
  height: 4px;
  background-color: #58a221;
  border-radius: 1px;
  transition: width 1000ms ease-out, opacity 500ms linear;
}

#progress b,
#progress i {
  position: absolute;
  top: 0;
  height: 3px;
  border-radius: 100%;
  box-shadow: #777777 1px 0 6px 1px;
}

#progress b {
  width: 20px;
  right: 0;
  clip: rect(-6px, 22px, 14px, 10px);
  opacity: 0.6;
}

#progress i {
  width: 180px;
  right: -80px;
  clip: rect(-6px, 90px, 14px, -6px);
  opacity: 0.6;
}